# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/
.env

# Database
*.db
backend/voluntree.db

# Node / Frontend artifacts
node_modules/
frontend/node_modules/
dist/
frontend/dist/
.DS_Store
